Source: lintel
# http://www.debian.org/doc/debian-policy/ch-archive.html#s-subsections
Section: PBGRP
Priority: optional
Maintainer: PBPACKAGER
Build-Depends: debhelper (>= 6), cmake, gnuplot, netpbm, ssh, sg3-utils, libdata-showtable-perl,
  libdigest-hmac-perl, libdbi-perl, libdbd-mysql-perl, libbsd-resource-perl, libxml2-dev, chrpath,
  doxygen, ghostscript, texlive-latex-base, PBTEX,
  PBBOOST
Standards-Version: PBDEBSTD
Vcs-Git: git://www.github.com/eric-anderson/Lintel
Vcs-Browser: http://www.github.com/eric-anderson/Lintel
Homepage: PBURL

# Separate library packages because the SONAME is supposed to be in the library name,
# but it may change separately for the different libraries.
Package: liblintel0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PBDESC_liblintel

Package: liblintelpthread0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblintel0
Description: PBDESC_liblintelpthread

# TODO-package-reviewer: Should deptool be part of liblintel-dev?  It's used to 
# build packages and their dependencies, and handle checkout/checkin/etc; so it's
# somewhat a development tool, but it's also a utility.
Package: lintel-utils
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblintel0, liblintel-perl,
  texlive-latex-base, ghostscript, PB_LIBDIGEST_SHA_PERL
Description: PBDESC_lintel_utils

Package: liblintel-dev-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: liblintel-dev
Description: PBDESC_liblintel_dev_doc

Package: liblintel-dev
Section: libdevel
Architecture: any
Depends: liblintel0 (= ${binary:Version}), liblintelpthread0 (= ${binary:Version}), 
  ${misc:Depends}, libxml2-dev,
  libboost-dev | libboost1.35-dev | libboost1.42-dev, 
  libboost-program-options-dev | libboost-program-options1.35-dev 
    | libboost-program-options1.42-dev,
  libboost-thread-dev | libboost-thread1.35-dev | libboost-thread1.42-dev
Recommends: liblintel-dev-doc
Description: PBDESC_liblintel_dev

# TODO-package-reviewer: is the below correct?
# Looks like the convention is to not have the perl libraries versioned.  We could split out
# the binary independent portions, but that doesn't seem worthwhile.
Package: liblintel-perl
Section: perl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Description: PBDESC_liblintel_perl
